* {
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
.logo {
  margin-left: 4em;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}
.list {
  display: inline-block;
  float: right;
  margin: 1.5em;
  font-size: 13px;
  margin-top: 2em;
  cursor: pointer;
}

.headerBar {
  margin-top: 2em;
}

.name {
  margin-top: 8em;
  text-align: center;
  margin-bottom: 1em;
}
.name p {
  display: inline-block;
  font-size: 1.3em;
  margin-left: 0.3em;
}
.wave {
  animation-name: animation-wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}
@keyframes animation-wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-9deg);
  }
  30% {
    transform: rotate(27deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(19deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  70% {
    transform: rotate(18deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}

.header {
  text-align: center;
  font-size: 35px;
  margin-bottom: 1em;
}

.HeaderText {
  font-size: 17px;
  text-align: center;
  margin-left: 12em;
  margin-right: 12em;
}

.downloadResume {
  color: black;
  margin-top: 2em;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  display: inline-block;
  margin-left: 45%;
  padding: 0.5em 2em;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 10em;
}
.downloadResume:hover {
  background-color: gray;
  color: white;
  border: t ransparent;
}
#secondPage {
  height: 90vh;
  bottom: 2em;
}

.skills {
  text-align: center;
  margin-bottom: 2em;
  padding-top: 3em;
  color: gray;
  font-size: 3em;
}

.imageDiv {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1em;
  margin-left: 22%;
  margin-right: 18%;
}

.img {
  width: 6em;
  border: 1px solid transparent;
  padding: 10%;
  border-radius: 30em;
  background-color: white;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}
#ProjectText {
  font-size: 30px;
  padding-top: 2em;
  text-align: center;
  font-weight: bold;
  color: gray;
}

.projectFrame {
  isolation: isolate;
  display: flex;
  justify-content: center;
  margin: 2em;
  margin-top: 5em;
  margin-bottom: 9em;
}

.projectDiv {
  isolation: isolate;
  border: 1px solid transparent;
  margin: 1em;

  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

/* .projectDiv:hover {
  transform: scale(1.1);
} */

.video {
  width: 100%;
  border-radius: 20px;
}

.projectText {
  font-size: 18px;
  margin: 1em;
}

.btnGitHub {
  margin-left: 23%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.btn {
  font-size: 1em;
  padding: 5px;
  margin: 5px;
  border-radius: 50px;
  border: 1px solid transparent;
}

.btn:hover {
  transform: scale(1.1);
  /* background-color: gray;
  color: white;
  border: transparent; */
}
#contactHeader {
  text-align: center;
  margin-bottom: 2em;
  font-size: 4.5em;
  color: gray;
}
.contactFrame {
  text-align: center;
}
.contactFrame li {
  display: inline;
}
.icon {
  border: 1px solid black;
  border-radius: 100%;
  margin: 20px;
  color: gray;
}

.emailIcon {
  font-size: 4em;
  padding: 30px 35px;
}
.phoneIcon {
  font-size: 5em;
  padding: 20px 40px;
}

.githubIcon {
  font-size: 5em;
  padding: 20px 25px;
}
.linkedinIcoin {
  font-size: 5em;
  padding: 20px 30px;
  margin-bottom: 3em;
}
.emailIcon:hover {
  background-color: gray;
  color: white;
  border: transparent;
}
.phoneIcon:hover {
  background-color: gray;
  color: white;
  border: transparent;
}
.githubIcon:hover {
  background-color: gray;
  color: white;
  border: transparent;
}
.linkedinIcoin:hover {
  background-color: gray;
  color: white;
  border: transparent;
}

.footerText {
  margin-top: 7em;
  margin-bottom: 1em;
  text-align: center;
}

.list {
  display: block;
}

#dropdown {
  display: none;
}

@media (max-width: 700px) {
  .list {
    display: none;
    /* display: inline;
    float: right;
    margin: 1.5em;
    font-size: 13px;
    margin-top: 2em; */
  }
  .list2 {
    display: block;
    margin: 1.5em;
    font-size: 13px;
    margin-top: 2em;
  }

  #dropdown {
    display: block;
  }
}
