* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
}
.logo {
  margin-top: 2em;
  margin-left: 4em;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

.listHeader {
  margin-right: 1em;
  font-size: 3em;
}
.list {
  display: inline-block;
  float: right;
  margin: 1.5em;
  font-size: 13px;
  /* margin-top: 2em; */
  cursor: pointer;
  color: blue;
  text-decoration: none;
}

.name {
  margin-top: 8em;
  text-align: center;
  margin-bottom: 1em;
}
.name p {
  display: inline-block;
  font-size: 1.3em;
  margin-left: 0.3em;
}
.wave {
  animation-name: animation-wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}
@keyframes animation-wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(20deg);
  }
  20% {
    transform: rotate(-9deg);
  }
  30% {
    transform: rotate(27deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(19deg);
  }
  60% {
    transform: rotate(-4deg);
  }
  70% {
    transform: rotate(18deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  90% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-7deg);
  }
}

.header {
  text-align: center;
  font-size: 35px;
  margin-bottom: 1em;
}

.HeaderText {
  font-size: 17px;
  text-align: center;
  margin-left: 12em;
  margin-right: 12em;
}

.downloadResume {
  color: black;
  margin-top: 4em;
  border: 1px solid black;
  border-radius: 30px;
  font-size: 20px;
  display: inline-block;
  margin-left: 46%;
  padding: 0.5em 1em 0.5em 1.4em;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 5em;
}

.downloadResume:hover {
  background-color: gray;
  color: white;
  border: 1px solid transparent;
}
#recentWorkHeader {
  padding-top: 1em;
  margin-bottom: 3em;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

#secondPage {
  height: 85vh;
  margin-bottom: 2em;
}

.skills {
  text-align: center;
  /* margin-right: 4em; */
  margin-bottom: 2em;
  padding-top: 3em;
  color: black;
  font-size: 3em;
}

.imageDiv {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  gap: 1em;
  justify-content: center;
  margin-left: 10em;
}

.img {
  width: 6em;
  border: 1px solid transparent;
  padding: 10%;
  border-radius: 30em;
  background-color: white;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}
.projectText {
  padding-top: 0.5em;
  text-align: center;
  color: black;
  margin-bottom: 0.5em;
}

.projectFrame {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 2em;
  justify-content: center;
}

.projectDiv {
  border: 1px solid transparent;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(190, 190, 190, 0.5);
  border-radius: 20px;
}

.video {
  border-radius: 20px;
  box-shadow: 9px 9px 16px rgba(235, 235, 235, 0.6);
}

.btnGitHub {
  margin-top: 1em;
  margin-bottom: 1em;
}
.btn {
  font-size: 1em;
  padding: 6px;
  border-radius: 50px;
  border: 1px solid transparent;
  margin-left: 1em;
}
.btn a {
  text-decoration: none;
  color: black;
}

.btnDiv {
  text-align: center;
}

.btn:hover {
  transform: scale(1.1);
}
#contactHeader {
  text-align: center;
  margin-bottom: 3em;
  font-size: 4.5em;
  color: black;
}
.contactFrame {
  text-align: center;
}
.contactFrame li {
  display: inline;
}
.icon {
  border: 1px solid black;
  border-radius: 100%;
  margin: 20px;
  color: gray;
}

.emailIcon {
  font-size: 4em;
  padding: 30px 35px;
  text-decoration: none;
}
.phoneIcon {
  font-size: 5em;
  padding: 20px 40px;
}

.githubIcon {
  font-size: 5em;
  padding: 20px 25px;
  text-decoration: none;
}
.linkedinIcoin {
  font-size: 5em;
  padding: 20px 30px;
  margin-bottom: 3em;
}
.emailIcon:hover {
  background-color: gray;
  color: white;
  border: transparent;
}
.phoneIcon:hover {
  background-color: gray;
  color: white;
  border: transparent;
}
.githubIcon:hover {
  background-color: gray;
  color: white;
  border: transparent;
}
.linkedinIcoin:hover {
  background-color: gray;
  color: white;
  border: transparent;
}

.footerText {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

@media screen and (max-width: 880px) {
  .imageDiv {
    margin-left: 3em;
  }
}
@media screen and (max-width: 720px) {
  .imageDiv {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 3em;
    margin-right: 3em;
    margin-top: 1em;
  }

  .projectFrame {
    display: inline;
    margin-bottom: 1em;
  }

  .projectDiv {
    margin: 2em 3em 3em 3em;
  }
  #secondPage {
    height: 45em;
  }

  .skills {
    padding-top: 1em;
    font-size: 35px;
  }
  #contactHeader {
    font-size: 45px;
    padding-top: 1em;
  }
  .contactFrame {
    /* margin-top: 1em; */
  }

  .logo {
    margin-left: 20px;
  }

  .footerText {
    text-align: center;
    /* padding-top: 10em; */
  }
  .HeaderText {
    font-size: 17px;
    margin-right: 3em;
    margin-left: 4em;
  }
  .downloadResume {
    margin-left: 35%;
  }
  #recentWorkHeader {
    font-size: 1.7em;
  }
}
/*  */
